<div class="bgcolor"><h3>Parent component</h3>
  <div>username is: {{title}}</div>
  <div *ngIf="password==null; else notNull">Click the button below to get the password here</div>
  <ng-template #notNull>default password sent is: {{password}}</ng-template>
  <app-child [username]="title" (send)="getData($event)" #child></app-child>
  <div>Hint: password must be {{child.data}}</div>
<button type="submit" (click)="childDetails()">see style details </button>
<div *ngIf="showstyle">child style details: {{childStyle}}</div>
<app-nextchild></app-nextchild>
</div>